<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Tagesplan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <base href="">
        <link rel="stylesheet" href="/css/grid.css">
    </head>

    <body>
        <%- include('./header.ejs')%>
        <%- include('./nav.ejs')%>
        <main>
            <ul id="tagesplan">
            <%for(var i = 0;i<6;i++){%>
                <%if(Woche[Wochentag][i].Name!=""){%> <!--Nur existierende Aufgaben werden angezeigt, Name required-->
                <li><%=(i+1)+". Stunde:"%></li>
                <ul>
                    <li>Name:<a href="<%=Woche[Wochentag][i].Link%>"><%=Woche[Wochentag][i].Name%></a></li>
                    <li><%="Erklärung:"+Woche[Wochentag][i].Beschreibung%></li>
                    <li><%="Erstellt am:"+Woche[Wochentag][i].Datum%></li>
                </ul>
            <%}}%>
            </ul>
            
        </main>
        <%- include('./aside.ejs')%>
        <%- include('./footer.ejs')%>
    </body>
</html>